<div class="container-fuild">
  <div class="row ml-3">
    <div class="col-3 bg-side rounded">
      <div class="sidebar_content py-3">
       <%= render template: "goods/search" %>
      </div>
      <div class="sidebar_fixed">
        <%= render "wines/form", wine: @wine %>
      </div>
    </div>
    <div class="col-9 bg-main">
      <%= render "layouts/errors", obj: @wine %>
      <%= render "edit", user: @user %>
    </div>
  </div>
</div>