<div class="container-fuild">
  <div class="row ml-3">
    <div class="col-3 bg-side rounded">
      <div class="sidebar_content py-5">
        AmazonAPI
      </div>
      <div class="sidebar_fixed mx-4">
        <div class="edit-user">
        aaa<!--render "user/info", user: current_user-->
        </div>
        <div class="tast-form mx-4">
          <%= render "wines/form", wine: @wine %>
        </div>
      </div>
    </div>
    <div class="col-9 bg-main">
      <%= render "layouts/errors", obj: @wine %>
      <%= render "show", user: @user %>
    </div>
  </div>
</div>