<div class="container-fuild">
  <div class="row ml-3">
    <div class="col-3 bg-side rounded">
      <div class="sidebar_fixed">
        <%= render "goods/search_form" %>
        <%= render "search/research_form" %>
        <%= render "wines/form", wine: @wine %>
      </div>
    </div>
    <div class="col-9 bg-main">
      <%= render "show", user: @user %>
    </div>
  </div>
</div>