<div class="box">
  <div class="bg-Image">
    <div class="boxString">
      <div class="about">
        <h1 class="top">GENTLE</h1>
        <br>
        <br>
        <br>
        <p class"top-about">人生の最大の幸福は、人に会うことにより友情や愛情が生まれ、楽しい毎日を送ることだ。</p>
        <br>
        <p class"top-about">１本のワインを仲立ちに、人と人とが結びつき、人生を素晴らしいものにすることだろう。</p>
        <br>
        <p class"top-about">ワインは「人を呼ぶお酒」であり、複数の人で飲む場を作り出す力があるお酒である。</p>
        <br>
        <p class"top-about">グラスを回さなくてもいい。好きなように飲もう。とにかく楽しく飲もう。</p>
        <br>
        <p class"top-about">ここ GENTLE は飲んだワインを簡潔に記録できるテイスティングSNSです。</p>
        <br>
        <p class"top-about">>ワインが好きで、優しく、穏やかで、素敵な紳士が集まる場所。　ようこそ GENTLE へ。</p>
      </div>
    </div>
  </div>
</div>