<div class="rakuten-items">
  <% if @items.present? %>
    <% @items.each do |item| %>
      <%= link_to "#{item.url}" do %>
        <div class="item-detail">
          <%= image_tag item["mediumImageUrls"][0], class: "item-image" %>
          <p><%= item.name %></p>
          <p><%= item.price %>円</p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>