<div class="container">
  <div class="result-bg rounded w-90">
    <h2 class="h-text">RAKUTEN SERCH RESULTS</h2>
  </div>
</div>
<div class="index-container">
  <div class="row">
    <% if @items.present? %>
      <% @items.each do |item| %>
        <div class="col-3">
          <div class="card-deck text-center d-flex flex-lg-wrap">
            <div class="card p-2">
              <%= link_to "#{item.url}" do %>
                <%= image_tag item["mediumImageUrls"][0], class: "item-image" %>
                <div class="card-body px-1">
                  <%= item.name %>
                </div>
                <div class="card-footer">
                  <%= item.price %>円
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>