// Place all the styles related to the goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-bg {
  background-image: image-url("result.jpg");
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  background-size: cover;
  background-position:  20% 50%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

