<div class="container-fuild">
  <div class="row ml-3">
    <div class="col-3 bg-side rounded">
      <div class="sidebar_content">
        流れてもいいコンテンツ
        <!--AmazonAPI-->
      </div>
      <div class="sidebar_fixed">
        <div class="edit-user">
        aaa<!--render "user/info", user: current_user-->
        </div>
        <div class="tast-form">
        </div>
      </div>
    </div>
    <div class="col-9 bg-main">
      <%= render "edit", wine: @wine %>
    </div>
  </div>
</div>