<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>EDITING WINE</h1>
  		<%= render 'form', wine: @wine %>
  		<%= link_to 'BACK', wines_path, class: "back" %>
  </div>
</div>
