<div class="container-fuild">
  <div class="row">
    <div class="col-3  bg-side">
      <div class="sidebar_content">
        流れてもいいコンテンツ
        <!--AmazonAPI-->
      </div>
      <div class="sidebar_fixed m-3">
        <!--render "user/info", user: current_user-->
        <h2 class="new-form">NEW TASTING</h2>
        <%= render "form", wine: @wine %>
      </div>
    </div>
    <div class="col-9 bg-main">
      <% render "layouts/errors", obj: @wine %>
      <%= render "index", wines: @wines %>
    </div>
  </div>
</div>