<div class="container-fuild">
  <div class="row ml-3">
    <div class="col-3 bg-side rounded">
      <div class="sidebar_content">
        AmazonAPI
      </div>
      <div class="sidebar_fixed">
          <%= render "form", wine: @wine %>
      </div>
    </div>
    <div class="col-9 bg-main">
      <%= render "show", wines: @wines %>
    </div>
  </div>
</div>