<footer class="fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#800000;">
    <p class="footer-text"> © All rights reserved by Shoichi Ikeda.</p>
  </nav>
</footer>