<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container">
      <a class="navbar-brand" href="/"><span><img src='gentle.png'></span></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="topfont">
          <a class="fas fa-mountain text-black" href="/">TOP</a>
          <a class="fas fa-signature text-black" href="/users/sign_up">SIGN UP</a>
          <a class="fas fa-sign-in-alt text-black" href="/users/sign_in">LOG IN</a>
        </div>
      </div>
    </div>
  </nav>
</header>
